.vs/
[Dd]ebug/
[Rr]elease/
x64/
*.user
*.aps
*.intermediate.manifest
*.sys
*.inf
*.cer
*.pdb
*.log
*.wrn
*.lastcodeanalysistier
*.exe
*.lib
*.dll
/doc/Architecture.md
/doc/Bug_Fixes_Report.md
/doc/Compilation_Fixes.md
/doc/Implementation_Summary.md
/doc/Main_Program_Guide.md
/doc/User_Guide_CN.md
/doc/VS_Project_Configuration.md
